*{

    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    
}

body{

    margin: 0;
    background: rgba(248, 248, 248, 1);

}

h1{

    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.87);
    margin: 0 0 10px 0;

}

h2{

    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    margin: 0 0 10px 0;
}

p{

    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin: 20px 0 0 0;
}